USE [master]
GO
/****** Object:  Database [PM_01_519_Efremov]    Script Date: 19.04.2023 17:15:44 ******/
CREATE DATABASE [PM_01_519_Efremov]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PM_01_519_Efremov', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\PM_01_519_Efremov.mdf' , SIZE = 6144KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PM_01_519_Efremov_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\PM_01_519_Efremov_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PM_01_519_Efremov].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PM_01_519_Efremov]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 19.04.2023 17:15:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[ID] [int] NULL,
	[Название страны] [nvarchar](255) NULL,
	[Английское название] [nvarchar](255) NULL,
	[Код] [nvarchar](255) NULL,
	[Код2] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Events]    Script Date: 19.04.2023 17:15:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Events](
	[ID] [int] NULL,
	[EventName] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Gender]    Script Date: 19.04.2023 17:15:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gender](
	[ID] [int] NULL,
	[GenderName] [nvarchar](10) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Jobs]    Script Date: 19.04.2023 17:15:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jobs](
	[ID] [int] NULL,
	[JobName] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Joins]    Script Date: 19.04.2023 17:15:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Joins](
	[ID] [int] NULL,
	[FIO] [nvarchar](255) NULL,
	[Email] [nvarchar](50) NULL,
	[Birthday] [datetime] NULL,
	[CountryID] [int] NULL,
	[Phone] [nvarchar](50) NULL,
	[Password] [nvarchar](20) NULL,
	[Photo] [nvarchar](50) NULL,
	[GenderID] [float] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Jury]    Script Date: 19.04.2023 17:15:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jury](
	[ID] [int] NULL,
	[FIO] [nvarchar](255) NULL,
	[GenderID] [int] NULL,
	[Email] [nvarchar](100) NULL,
	[Birthday] [datetime] NULL,
	[CountryID] [int] NULL,
	[Phone] [nvarchar](50) NULL,
	[JobID] [int] NULL,
	[Password] [nvarchar](20) NULL,
	[Photo] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Moderator]    Script Date: 19.04.2023 17:15:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Moderator](
	[ID] [int] NULL,
	[FIO] [nvarchar](255) NULL,
	[GenderID] [int] NULL,
	[Email] [nvarchar](50) NULL,
	[Birthday] [datetime] NULL,
	[CountryID] [int] NULL,
	[Phone] [nvarchar](50) NULL,
	[JobID] [int] NULL,
	[EventID] [int] NULL,
	[Password] [nvarchar](20) NULL,
	[Photo] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Organisation]    Script Date: 19.04.2023 17:15:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organisation](
	[ID] [int] NULL,
	[FIO] [nvarchar](255) NULL,
	[Email] [nvarchar](50) NULL,
	[Birthday] [datetime] NULL,
	[CountryID] [int] NULL,
	[Phone] [nvarchar](50) NULL,
	[Password] [nvarchar](20) NULL,
	[Photo] [nvarchar](50) NULL,
	[GenderID] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].['План мероприятий$']    Script Date: 19.04.2023 17:15:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].['План мероприятий$'](
	[ID] [int] NULL,
	[EventName] [nvarchar](255) NULL,
	[DATE] [datetime] NULL,
	[DAYS] [int] NULL,
	[CityID] [int] NULL
) ON [PRIMARY]

GO
INSERT [dbo].[Country] ([ID], [Название страны], [Английское название], [Код], [Код2]) VALUES (1, N'Абхазия', N'Abkhazia', N'AB', 895)
INSERT [dbo].[Country] ([ID], [Название страны], [Английское название], [Код], [Код2]) VALUES (2, N'Австралия', N'Australia', N'AU', 36)
INSERT [dbo].[Country] ([ID], [Название страны], [Английское название], [Код], [Код2]) VALUES (3, N'Австрия', N'Austria', N'AT', 40)
GO
INSERT [dbo].[Events] ([ID], [EventName]) VALUES (1, N'IT в бизнесе')
INSERT [dbo].[Events] ([ID], [EventName]) VALUES (2, N'Разработка приложений')
INSERT [dbo].[Events] ([ID], [EventName]) VALUES (3, N'IT-инфраструктура')
INSERT [dbo].[Gender] ([ID], [GenderName]) VALUES (1, N'М')
INSERT [dbo].[Gender] ([ID], [GenderName]) VALUES (2, N'Ж')
INSERT [dbo].[Jobs] ([ID], [JobName]) VALUES (1, N'ИТ')
INSERT [dbo].[Jobs] ([ID], [JobName]) VALUES (2, N'Биг Дата')
INSERT [dbo].[Jobs] ([ID], [JobName]) VALUES (3, N'Дизайн')
INSERT [dbo].[Joins] ([ID], [FIO], [Email], [Birthday], [CountryID], [Phone], [Password], [Photo], [GenderID]) VALUES (1, N'Ершова Нора Федотовна', N'techie@outlook.com', CAST(N'1987-03-26 00:00:00.000' AS DateTime), 71, N'+7 (960) 424-07-11', N'tKKevv8%', N'foto60.jpg', 2)
INSERT [dbo].[Joins] ([ID], [FIO], [Email], [Birthday], [CountryID], [Phone], [Password], [Photo], [GenderID]) VALUES (2, N'Афанасьева Жанна Валентиновна', N'agapow@yahoo.com', CAST(N'1988-01-04 00:00:00.000' AS DateTime), 34, N'+7 (930) 661-69-31', N'huSfHm4$', N'foto61.jpg', 2)
INSERT [dbo].[Joins] ([ID], [FIO], [Email], [Birthday], [CountryID], [Phone], [Password], [Photo], [GenderID]) VALUES (3, N'Крылова Рая Всеволодовна', N'chaikin@yahoo.ca', CAST(N'1988-04-05 00:00:00.000' AS DateTime), 73, N'+7 (957) 265-60-68', N'TlUwMw77%', N'foto62.jpg', 2)
INSERT [dbo].[Jury] ([ID], [FIO], [GenderID], [Email], [Birthday], [CountryID], [Phone], [JobID], [Password], [Photo]) VALUES (12, N'Герасимова Айлин Ефимовна', 2, N'loraine.aufderhar@johnston.info', CAST(N'1966-06-09 00:00:00.000' AS DateTime), 53, N'7(835)478-61-60', 3, N'TuhRzy', N'foto22.jpg')
INSERT [dbo].[Jury] ([ID], [FIO], [GenderID], [Email], [Birthday], [CountryID], [Phone], [JobID], [Password], [Photo]) VALUES (13, N'Большаков Августин Алексеевич', 1, N'juanita.kuvalis@yahoo.com', CAST(N'1978-07-12 00:00:00.000' AS DateTime), 52, N'7(173)770-55-13', 1, N'4Y83lz', N'foto23.jpg')
INSERT [dbo].[Jury] ([ID], [FIO], [GenderID], [Email], [Birthday], [CountryID], [Phone], [JobID], [Password], [Photo]) VALUES (14, N'Морозов Ким Демьянович', 1, N'ibode@lebsack.com', CAST(N'1981-10-11 00:00:00.000' AS DateTime), 67, N'7(518)761-85-69', 1, N'z0q7Co', N'foto24.jpg')
INSERT [dbo].[Moderator] ([ID], [FIO], [GenderID], [Email], [Birthday], [CountryID], [Phone], [JobID], [EventID], [Password], [Photo]) VALUES (43, N'Царева Виктория Давидовна', 2, N'iunhxq41tgr5@tutanota.com', CAST(N'1988-07-03 00:00:00.000' AS DateTime), 33, N'7(567)103-73-32', 1, 1, N'FYi396Dd5u', N'foto9.jpg')
INSERT [dbo].[Moderator] ([ID], [FIO], [GenderID], [Email], [Birthday], [CountryID], [Phone], [JobID], [EventID], [Password], [Photo]) VALUES (44, N'Зорин Дмитрий Маркович', 1, N'ofdt4z1bijq0@tutanota.com', CAST(N'1993-09-07 00:00:00.000' AS DateTime), 57, N'7(79)644-01-06', 1, 1, N'7gi7E8K4Ng', N'foto10.jpg')
INSERT [dbo].[Moderator] ([ID], [FIO], [GenderID], [Email], [Birthday], [CountryID], [Phone], [JobID], [EventID], [Password], [Photo]) VALUES (45, N'Зотова Анна Тимуровна', 2, N'ac6yxzg7rl5k@mail.com', CAST(N'1990-09-21 00:00:00.000' AS DateTime), 11, N'7(488)643-19-98', 2, 2, N'3L3eA5eEg3', N'foto8.jpg')
INSERT [dbo].[Organisation] ([ID], [FIO], [Email], [Birthday], [CountryID], [Phone], [Password], [Photo], [GenderID]) VALUES (1, N'Васильев Всеволод Давидович', N'6z92wongmash@tutanota.com', CAST(N'1988-10-16 00:00:00.000' AS DateTime), 51, N'7(354)903-53-67', N'Ke22Yh8Pp7', N'foto1.jpg', 1)
INSERT [dbo].[Organisation] ([ID], [FIO], [Email], [Birthday], [CountryID], [Phone], [Password], [Photo], [GenderID]) VALUES (2, N'Новиков Фёдор Макарович', N'jkp23vlzsqei@gmail.com', CAST(N'1980-08-03 00:00:00.000' AS DateTime), 33, N'7(6562)925-01-77', N'Tj78jXeH68', N'foto2.jpg', 1)
INSERT [dbo].[Organisation] ([ID], [FIO], [Email], [Birthday], [CountryID], [Phone], [Password], [Photo], [GenderID]) VALUES (3, N'Фролова Владислава Савельевна', N'dncmxp1vqr4t@tutanota.com', CAST(N'1999-07-13 00:00:00.000' AS DateTime), 43, N'7(12)981-33-56', N'DF9a8cJf82', N'foto3.jpg', 2)
INSERT [dbo].['План мероприятий$'] ([ID], [EventName], [DATE], [DAYS], [CityID]) VALUES (1, N'Всероссийский хакатон neuromedia 2017 по разработке продуктов на стыке информационных технологий, медиа и нейронных сетей ', CAST(N'2022-10-26 00:00:00.000' AS DateTime), 1, 34)
INSERT [dbo].['План мероприятий$'] ([ID], [EventName], [DATE], [DAYS], [CityID]) VALUES (2, N'Встреча #3 клуба ITBizRadio на тему:  «уборка» — выкидываем ненужные навыки, инструменты и ограничения» ', CAST(N'2022-07-14 00:00:00.000' AS DateTime), 3, 34)
INSERT [dbo].['План мероприятий$'] ([ID], [EventName], [DATE], [DAYS], [CityID]) VALUES (3, N'Встреча клуба «Leader stories»: Мотивирующее руководство ', CAST(N'2023-11-09 00:00:00.000' AS DateTime), 2, 2)
USE [master]
GO
